<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-1 shadow rounded-3 overflow-hidden">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">REGISTER</h5>
                    <%= form_for @user do |f| %>
                        <div class="form-floating mb-3">
                            <label class="btn btn-outline-secondary btn-change-avatar">
                                Upload avatar
                                <span style="display:none;">
                                    <%= f.file_field :avatar, id: "fileUploader"%>
                                </span>
                            </label>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :nationality %>
                            <%= f.text_field :nationality, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :address %>
                            <%= f.text_field :address, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :phone %>
                            <%= f.text_field :phone, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :language %>
                            <%= f.text_field :language, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                        <%= f.label :role %>
                            <%= f.text_field :role, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :bio %>
                            <%= f.text_field :bio, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :description %>
                            <%= f.text_field :description, class: "form-control" %>
                        </div>

                        <div class="form-floating mb-3">
                            <%= f.label :status %>
                            <%= f.text_field :status, class: "form-control" %>
                        </div>

                        <div class="d-flex justify-content-center">
                            <%= f.submit "Register", class: "btn btn-lg btn-primary btn-login fw-bold text-uppercase" %>
                        </div>

                        <a class="d-block text-center mt-2 small" href="#">Have an account? Sign In</a>

                        <hr class="my-4">
                    <% end %>
                    <%= link_to 'Back', users_path, class: "d-flex justify-content-center" %>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>