<h1>Editing user</h1>
<%= form_with model: @user, url: user_path(@user), method: "patch" do |f| %>
    <p>
        <%= f.label :avatar %><br>
        <%= f.text_field :avatar %>
    </p>

    <p>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
    </p>
    
    <p>
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
    </p>

    <p>
        <%= f.label :nationality %><br>
        <%= f.text_field :nationality %>
    </p>
    
    <p>
        <%= f.label :address %><br>
        <%= f.text_field :address %>
    </p>

    <p>
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
    </p>
 
    <p>
        <%= f.label :language %><br>
        <%= f.text_field :language %>
    </p>

    <p>
        <%= f.label :role %><br>
        <%= f.text_field :role %>
    </p>

    <p>
        <%= f.label :bio %><br>
        <%= f.text_area :bio %>
    </p>

    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </p>
 
    <p>
        <%= f.label :status %><br>
        <%= f.text_field :status %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', users_path %>

