<body>
    <div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                <div class="d-flex bd-highlight">
                    <h3 class="mr-auto bd-highlight">User Management</h3>
                    <%= link_to "New User", new_user_path, class: "btn btn-outline-primary mr-1" %>
                    <%= link_to "New Leave Request", new_request_path, class: "btn btn-outline-primary" %>
                </div>
                <table class="table manage-candidates-top mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="action text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                            <tr class="candidates-list">
                                <td class="title">
                                    <div class="thumb">
                                        <%= image_tag(user.avatar.thumb.url) if user.avatar? %>
                                    </div>
                                    <div class="candidate-list-details">
                                        <div class="candidate-list-info">
                                            <div class="candidate-list-title">
                                                <h5 class="mb-0"><%= link_to user.full_name, user_path(user) %></h5>
                                            </div>
                                            <div class="candidate-list-option">
                                                <ul class="list-unstyled">
                                                    <li><i class="fas fa-filter pr-1"></i><%= user.role %></li>
                                                    <li><i class="fas fa-map-marker-alt pr-1"></i><%= user.address %></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                        <li><%= link_to user_path(user), :class=> "text-primary" do %><i class="fa-solid fa-eye" aria-hidden="true" target="_blank"></i><% end %></li>
                                        <li><%= link_to edit_user_path(user), :class=> "text-primary" do %><i class="fas fa-pencil-alt" aria-hidden="true" target="_blank"></i><% end %></li>
                                        <li><%= link_to user_path(user), :class=> "text-primary", method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt" aria-hidden="true" target="_blank"></i><% end %></li>
                                    </ul>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>

                <div class="text-center mt-3 mt-sm-3">
                    <ul class="pagination justify-content-center mb-0">
                        <li class="page-item disabled"> <span class="page-link">Prev</span> </li>
                        <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</body>
