<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-1 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center">Employee Leave Application</h3>
                        <p class="card-subtitle text-center mb-3 font-weight-light font-italic">(Please fill in the form below if you need to leave work. All leave applications need to be approved by both the applicant and the manager)</p>
                        <%= form_for @request do |f| %>
                            <div class="form-floating mb-3">
                                <%= f.label 'Name:' %>
                                <%= f.text_field :name, class: "form-control" %>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <%= f.label 'Start time:' %>
                                    <%= f.date_field :start_time, class: "form-control" %>
                                </div>
                                <div class="form-group col-md-6">
                                    <%= f.label 'End time:' %>
                                    <%= f.date_field :end_time, class: "form-control" %>
                                </div>
                            </div>

                            <p id="notice-request" class="font-italic text-danger"></p>

                            <div class="form-floating mb-3">
                                <%= f.label "Shift time off" %>
                                <%= f.select :shift_time, Request.shift_times.keys, {},  class: "form-control text-capitalize" %>
                            </div>

                            <div class="form-floating mb-3">
                                <%= f.label :reason %>
                                <%= f.text_field :reason, class: "form-control" %>
                            </div>
                            <% if current_user.admin? %>
                                <div class="form-floating mb-3">
                                    <%= f.label :status %>
                                    <%= f.select :status, Request.statuses.keys, {}, { class: "form-control text-capitalize" } %>
                                </div>
                            <% end %>

                            <div class="d-flex justify-content-center">
                                <%= f.submit "Save", class: "btn btn-primary btn-login px-4 mr-1" %>
                                <%= link_to 'Back', requests_path, class: "btn btn-outline-primary px-4" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('#request_shift_time').on('change', function() {
            if ($(this).val() == 'morning' || $(this).val() == 'afternoon') {
                start_date = $('#request_start_date').val()
                $('#request_end_date').val(start_date)
                $('#request_end_date').attr('disabled', 'disabled');
                $('#notice-request').text('(Notice: this is a half-day leave)')
            }
            else{
                $('#request_end_date').removeAttr('disabled');
                $('#notice-request').empty()
            }
        });
    });
</script>