<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Request Management</h3>
        </div>
        <!-- Start col -->
        <% @requests.each do |request| %>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body py-3">
                        <div class="row">               
                            <div class="col-lg-3 text-center">
                                <%= image_tag(request.user.avatar.thumb.url) if request.user.avatar? %>
                            </div>
                            <div class="col-lg-6">
                                <h4><%= link_to request.name, request_path(request), class: 'text-dark' %></h4>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="p-1">Start date:</th>
                                                <td class="p-1"><%= request.start_date.strftime("%d/%m/%Y") %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="p-1">End date:</th>
                                                <td class="p-1"><%= request.end_date.strftime("%d/%m/%Y") %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="p-1">Reason:</th>
                                                <td class="p-1"><%= request.reason %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="p-1">Status:</th>
                                                <td class="p-1 text-capitalize"><%= request.status %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-3 text-right">
                            <% if current_user.admin? || request.user.id == current_user.id %>
                                <%= link_to edit_request_path(request), :class=>"btn btn-success" do %><i class="fas fa-pencil-alt"></i><% end %>      
                                <%= link_to request_path(request), :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt"></i><% end %>
                            <% else %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <!-- End col -->
    </div>
</div>
