<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @request.start_date.strftime("%d/%m/%Y") %>
</p>
 
<p>
  <strong>End date:</strong>
  <%= @request.end_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Total days:</strong>
  <%= @request.total_days %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @request.shift_time %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Point:</strong>
  <%= @request.point %>
</p>

<div class="card">
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= render @request.comments %>
    <%= render 'comments/form' %>
  </div>
</div>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>