<div class="container">
  <div class="col">
    <div class="card">
      <div class="card-header text-secondary text-center bg-light">
        <h4>Request Application From <%= @request.user.full_name %></h4>
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @request.name %>
        </p>

        <p>
          <strong>Start date:</strong>
          <%= @request.start_time.strftime("%d/%m/%Y") %>
        </p>
        
        <p>
          <strong>End date:</strong>
          <%= @request.end_time.strftime("%d/%m/%Y") %>
        </p>

        <p>
          <strong>Total days:</strong>
          <%= @request.total_days %>
        </p>

        <p>
          <strong>Shift:</strong>
          <%= @request.shift_time %>
        </p>

        <p>
          <strong>Reason:</strong>
          <%= @request.reason %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @request.status %>
        </p>

        <p>
          <strong>Point:</strong>
          <%= @request.point %>
        </p>

        <div class="d-flex justify-content-end">
          <%= link_to 'Edit', edit_request_path(@request), class: "btn btn-primary mr-1 px-4" %>
          <%= link_to 'Back', requests_path, class: "btn btn-outline-primary px-4" %>
        </div>

        <div class="card-subtitle text-secondary">
          <h4>Comments</h4>
        </div>
        <%= render @request.comments%>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>